@import "../styles/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Example of app-specific base styles */
@layer base {
  h1 {
    @apply text-4xl text-gray-800;
  }

  body {
    @apply bg-gray-50 text-gray-900;
  }
}
